<a href="https://colab.research.google.com/github/Induvardhan116/Generative-AI/blob/main/pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("/content/diabetes_prediction_dataset.csv")
print(df)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.0             0              1           never  25.19
1      Female  54.0             0              0         No Info  27.32
2        Male  28.0             0              0           never  27.32
3      Female  36.0             0              0         current  23.45
4        Male  76.0             1              1         current  20.14
...       ...   ...           ...            ...             ...    ...
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
0              6.6                  140         0
1              6.6                   80         0
2              5.7                  158         0
3              5.0                  155         0
4              4.8                  155         0
...            ...                  ...       ...
99995          6.2                   90         0
99996          6.5                  100         0
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0

[100000 rows x 9 columns]

In [2]:
import sklearn

#for data prepartion
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
df.shape

(100000, 9)

In [4]:
df.nunique()

gender                    3
age                     102
hypertension              2
heart_disease             2
smoking_history           6
bmi                    4247
HbA1c_level              18
blood_glucose_level      18
diabetes                  2
dtype: int64

In [5]:
def copydf():
    copydf = df.copy()
    return copydf

def traintestsplit(X, y, testsize):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=testsize)
    return X_train, X_test, y_train, y_test

def dropcolumn(dataframe, col):
    df = dataframe.drop(col, axis = 1)
    return df

def scalecol(dataframe, col):
    ss = StandardScaler(with_mean = True)
    dataframe[col] = ss.fit_transform(dataframe[[col]])
    return dataframe

def labelencoder(dataframe, col):
    le = LabelEncoder()
    dataframe[col] = le.fit_transform(dataframe[col])
    return dataframe

In [6]:
df1 = copydf()
df1 = dropcolumn(df1, 'gender')

In [7]:
df1 = scalecol(df1, 'bmi')
df1 = scalecol(df1, 'HbA1c_level')
df1 = scalecol(df1, 'blood_glucose_level')

In [8]:
df1 = labelencoder(df1, 'smoking_history')

In [9]:
df1

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,80.0,0,1,4,-0.321056,1.001706,0.047704,0
1,54.0,0,0,0,-0.000116,1.001706,-1.426210,0
2,28.0,0,0,4,-0.000116,0.161108,0.489878,0
3,36.0,0,0,1,-0.583232,-0.492690,0.416183,0
4,76.0,1,1,1,-1.081970,-0.679490,0.416183,0
...,...,...,...,...,...,...,...,...
99995,80.0,0,0,0,-0.000116,0.628107,-1.180558,0
99996,2.0,0,0,0,-1.499343,0.908306,-0.934905,0
99997,66.0,0,0,3,0.076729,0.161108,0.416183,0
99998,24.0,0,0,4,1.220361,-1.426688,-0.934905,0
99999,57.0,0,0,1,-0.736922,1.001706,-1.180558,0

In [10]:
X = df1.iloc[:, :-1].values
y = df1.iloc[:, -1].values
x_train_val, x_test, y_train_val, y_test = traintestsplit(X, y, 0.2)
x_train, x_val, y_train, y_val = traintestsplit(x_train_val, y_train_val, 0.25)

In [12]:
import tensorflow as tf
from keras.layers import Dense

model = tf.keras.models.Sequential([
    Dense(25, input_shape=(7,), activation='relu'),
    Dense(50, activation='relu'),
    Dense(100, activation='relu'),
    Dense(300, activation='relu'),
    Dense(200, activation='relu'),
    Dense(50, activation='relu'),
    Dense(1, activation='sigmoid')
])

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [13]:
model.compile(optimizer=tf.optimizers.Adam(learning_rate=1e-3),
    loss=tf.losses.BinaryCrossentropy(),
    metrics=[
        tf.metrics.BinaryAccuracy(),
        tf.metrics.FalseNegatives(),
    ],)

In [16]:
model.fit(x = x_train, y = y_train, epochs = 10, validation_data = (x_val, y_val))

Epoch 1/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - binary_accuracy: 0.9698 - false_negatives: 869.3124 - loss: 0.0860 - val_binary_accuracy: 0.9648 - val_false_negatives: 704.0000 - val_loss: 0.0950
Epoch 2/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - binary_accuracy: 0.9694 - false_negatives: 910.5554 - loss: 0.0862 - val_binary_accuracy: 0.9647 - val_false_negatives: 694.0000 - val_loss: 0.0966
Epoch 3/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - binary_accuracy: 0.9694 - false_negatives: 877.3262 - loss: 0.0873 - val_binary_accuracy: 0.9704 - val_false_negatives: 548.0000 - val_loss: 0.0859
Epoch 4/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 19s 5ms/step - binary_accuracy: 0.9687 - false_negatives: 897.2980 - loss: 0.0874 - val_binary_accuracy: 0.9628 - val_false_negatives: 743.0000 - val_loss: 0.0979
Epoch 5/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - binary_accuracy: 0.9692 - false_negatives: 868.2228 - loss: 0.0863 - val_binary_accuracy: 0.9694 - val_false_negatives: 608.0000 - val_loss: 0.0895
Epoch 6/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - binary_accuracy: 0.9710 - false_negatives: 854.7878 - loss: 0.0841 - val_binary_accuracy: 0.9709 - val_false_negatives: 582.0000 - val_loss: 0.0864
Epoch 7/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - binary_accuracy: 0.9693 - false_negatives: 890.4360 - loss: 0.0879 - val_binary_accuracy: 0.9621 - val_false_negatives: 759.0000 - val_loss: 0.1025
Epoch 8/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - binary_accuracy: 0.9689 - false_negatives: 901.9280 - loss: 0.0878 - val_binary_accuracy: 0.9675 - val_false_negatives: 612.0000 - val_loss: 0.0901
Epoch 9/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 12s 6ms/step - binary_accuracy: 0.9674 - false_negatives: 920.7660 - loss: 0.0906 - val_binary_accuracy: 0.9707 - val_false_negatives: 586.0000 - val_loss: 0.0868
Epoch 10/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 12s 6ms/step - binary_accuracy: 0.9684 - false_negatives: 929.3348 - loss: 0.0924 - val_binary_accuracy: 0.9637 - val_false_negatives: 619.0000 - val_loss: 0.0986

In [17]:
x_test

array([[ 5.70000000e+01,  0.00000000e+00,  0.00000000e+00, ...,
        -1.15583678e-04, -9.59688914e-01, -1.30338381e+00],
       [ 4.40000000e+01,  0.00000000e+00,  0.00000000e+00, ...,
         1.03201607e+00, -1.42668764e+00, -1.42620999e+00],
       [ 5.50000000e+01,  1.00000000e+00,  0.00000000e+00, ...,
         1.29419258e+00,  1.84230343e+00,  1.52161842e+00],
       ...,
       [ 2.50000000e+01,  1.00000000e+00,  0.00000000e+00, ...,
         9.97360556e-01,  1.61108022e-01, -2.96209099e-01],
       [ 5.40000000e+01,  0.00000000e+00,  0.00000000e+00, ...,
         1.11384770e-01,  4.41307256e-01, -1.42620999e+00],
       [ 2.80000000e+01,  0.00000000e+00,  0.00000000e+00, ...,
        -1.15583678e-04,  9.08305979e-01,  1.70530400e-01]])

In [18]:
y_pred = model.predict(x_test, batch_size = 20)

1000/1000 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step

In [19]:
for i in range(len(y_pred)):
    if y_pred[i] >= 0.5:
        y_pred[i] = 1
    else:
        y_pred[i] = 0

y_pred_binary = [0 if y < 0.5 else 1 for y in y_pred]

count = 0  # Initialize count outside the loop
for i in range(len(y_pred_binary)):
    if y_pred_binary[i] == y_test[i]:
        count += 1

accuracy = count * 100 / len(y_pred_binary)
print("Accuracy:", accuracy)

Accuracy: 96.405